body {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif, 'Courier New', Courier, monospace;
    margin: auto;
}

header, main, footer {
    background-color: #1f2937;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    flex-shrink: 1;
}

.logo {
    font-size: 24px;  
    color:#f9faf8;
    font-weight: 900; 
}

a {
    color: #e5e7eb;  
    text-decoration: none;    
}

a:hover {
    color: #3882f6; 
}

ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 24px;
}

main  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 160px;
    flex-shrink: 1;
}

.section-one {
    height: 250px;
    width: 700px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px 0px 12px 0px;
    line-height: 1em;
}

h2 {
    font-size: 18px;
    color: #e5e7eb;  
    text-decoration: none;
    font-weight: normal;
    margin: 0px 0px 12px 0px;
    width: 600px;
    padding-left: 4px;
}

.top-image{
    height: auto;
    width: 450px;
    border-style: none;
    border-radius: 0%;
    display: flex;
    align-self: flex-start;
}

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
    padding-top: 36px;
    padding-bottom: 36px;
    gap:16px;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-bottom: 72px;
}

.info {
    max-width: 250px;
}

img {
    height: auto;
    width: 250px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
}

.text {
    padding: 10px;
    font-size: 18px;
    color: #1f2937;
}

.section-four {
    background-color: #e5e7eb;
    font-family: "Roboto", sans-serif, 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px 250px;
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
    color: #1f2937;
    padding-bottom: 10px;
}

.thor {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding-top: 10px;
    font-size: 18px;
    font-style: normal;
}

.container {
    background: none;
    padding: 64px 200px;
}

.section-five {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;  
    color:#f9faf8;
    padding: 64px 100px;
}

.section-five-text {
    color:#f9faf8;
    font-weight: bold;
}

p {
    margin: 0px;
    line-height: 1.5em;
}

.sign-up {
    font-weight: normal;
}

.top-button {
    color:#f9faf8;
    border-radius: 6px;
    border-style: none;
    padding: 4px 16px;
    background-color: #3882f6; 
    margin-left: 4px;
}

.bottom-button {
    color:#f9faf8;
    border-radius: 6px;
    border-style: solid;
    background-color: #3882f6; 
    border-color: #f9faf8;
    padding: 4px 40px;
    
}

footer {
    color:#e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

span {
    color: rgb(24, 197, 24);
}

